/* * Selector specificity: * value of (0, 0, 0, 0) - use for reset, html value of (0, 0, 0, 1), - use for global styles :root value of (0, 0, 1, 0) - use for CSS variables */
*,
*::after,
*::before {
  /* * Global and reset styles */
  padding: 0;
  margin: 0;
  font-family: inherit;
  /* Source: Chris Coyier */
  box-sizing: inherit;
  /* * Respect user's color scheme preference. Use light-dark to implement */
  color-scheme: light dark;
  /* * End Global and reset styles */
}

:root {
  /* * Background colors */
  --bg-color-1: #ffffff;
  --bg-color-2: #ffffff;
  --bg-color-3: #bce4f9;
  --bg-color-4: #f2fafe;
  --my-gradient: linear-gradient(#ffffff, #ebebeb);

  /* * Text colors */
  --text-color: #38322c;
  --text-color-disabled: #999999;
  --text-color-placeholder: #999999;
  /* --text-color-reduced-opacity: light-dark(#07124d50, #f2e4e650); */

  /* * Accent colors */
  --accent-color-1: #dc5a15;
  --accent-color-2: #f36500;
  --accent-color-2-hover: #ff6b00;
  --accent-color-3: #094;

  /* * Borders */
  --narrow-border: 1px solid;
  --wide-border: 3px solid;
  --border-radius: 5px;

  /* * Fonts */
  --display-font-family: "Comfortaa", sans-serif;
  --body-font-family: "Mulish", sans-serif;
  --custom-font-family: sans-serif;
}

html,
body {
  /* background-image: var(--my-gradient); */
  padding: 0;
  margin: 0;
  /* * Per Chris Coyier */
  box-sizing: border-box;
  /* * End per Chris Coyier */
  font-family: var(--custom-font-family);
  /* color: var(--text-color); */
  scroll-behavior: smooth;
  caret-color: var(--accent-color-1);
  /* * bar is the default */
  caret-shape: bar;
  accent-color: var(--accent-color-1);
  background: var(--my-gradient);
  color: var(--text-color);
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

h1,
h2,
h3 {
  color: var(--clr-heading);
  line-height: 1.1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Source: Theme: https://www.youtube.com/watch?v=fyuao3G-2qg */
.color-picker>fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  background: #fff;
  padding: 1rem 3rem;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: #ebebeb;
}

.color-picker input[type="radio"]#pink {
  --radio-color: hsl(310 50% 90%);
}

.color-picker input[type="radio"]#blue {
  --radio-color: #63bff0;
}

.color-picker input[type="radio"]#green {
  --radio-color: #639858;
}

.color-picker input[type="radio"]#dark {
  --radio-color: hsl(248, 40%, 41%);
}

.pink {
  --my-gradient: linear-gradient(#fcf6fb, hsl(310 50% 90%));
  --bg-color-2: hsl(310 50% 100%);
  --text-color: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 15%);
}

.blue {
  --my-gradient: linear-gradient(#bce4f9, #63bff040);
  --bg-color-2: hsl(209 50% 100%);
  --text-color: #07124d;
  --clr-heading: #07124d;
}

.green {
  --my-gradient: linear-gradient(hsl(110, 27%, 96%), hsl(109 50% 90%));
  --bg-color-2: hsl(109 50% 100%);
  --text-color: hsl(111, 88%, 3%);
  --clr-heading: hsl(111, 88%, 3%);
}

.dark {
  --my-gradient: linear-gradient(hsl(248, 47%, 54%), hsl(240, 44%, 6%));
  --bg-color-2: hsl(209 50% 5%);
  --text-color: #f2e4e6;
  --clr-heading: #f2e4e6;
}

:root:has(#pink:checked) {
  --my-gradient: linear-gradient(#fcf6fb, hsl(310 50% 90%));
  --bg-color-2: hsl(310 50% 100%);
  --text-color: hsl(308, 50%, 3%);
  --clr-heading: hsl(308, 50%, 3%);
}

:root:has(#blue:checked) {
  --my-gradient: linear-gradient(#bce4f9, #63bff040);
  --bg-color-2: hsl(209 50% 100%);
  --text-color: #07124d;
  --clr-heading: #07124d;
}

:root:has(#green:checked) {
  --my-gradient: linear-gradient(hsl(110, 27%, 96%), hsl(109 50% 90%));
  --bg-color-2: hsl(109 50% 100%);
  --text-color: hsl(111, 88%, 3%);
  --clr-heading: hsl(111, 88%, 3%);
}

:root:has(#dark:checked) {
  --my-gradient: linear-gradient(hsl(248, 47%, 54%), hsl(240, 44%, 6%));
  --bg-color-2: hsl(209 50% 5%);
  --text-color: #f2e4e6;
  --clr-heading: #f2e4e6;
}