*,
*::after,
*::before {
  /* * Global and reset styles */
  padding: 0;
  margin: 0;
  font-family: inherit;
  /* Source: Chris Coyier */
  box-sizing: inherit;
  /* * Respect user's color scheme preference. Use light-dark to implement */
  color-scheme: light dark;
  /* * End Global and reset styles */

  /* * Background colors */
  /* --bg-color-1: light-dark(#ffffff, #15122f); */
  /* --my-gradient: linear-gradient(light-dark(#63bff005, hsl(248deg 45% 16%)), light-dark(#63bff040, hsl(240, 44%, 6%))); */

  /* * Text colors */
  /* --text-color: light-dark(#07124d, #f2e4e6);
  --text-color-disabled: light-dark(#999999, #bbbbbb);
  /* todo choose colors - the disabled ones look good? The chrome default is around #777777 */
  /* --text-color-placeholder: light-dark(#999999, #bbbbbb); */
  /* --text-color-reduced-opacity: light-dark(#07124d50, #f2e4e650); */

  /* * Accent colors */
  /* --accent-color-1: light-dark(#dc5a15, #f493a4);
  --accent-color-2: light-dark(#f36500, #d7556c);
  --accent-color-2-hover: light-dark(#ff6b00, #ed5e77);
  --accent-color-3: light-dark(#09415e, #333); */
  /* ? #484747 for dark accent instead of #333 */

  /* * Borders */
  /* --narrow-border: 1px solid;
  --wide-border: 3px solid;
  --border-radius: 5px; */

  /* * Fonts */
  /* --display-font-family: "Comfortaa", sans-serif; */
  /* --body-font-family: "Quicksand", sans-serif; */
  /* --body-font-family: "Mulish", sans-serif; */
  --custom-font-family: sans-serif;
}

:root {
  /* Source: Theme: https: //www.youtube.com/watch?v=fyuao3G-2qg */
  --clr-body-bg: hsl(0 0% 90%);
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
}

html,
body {
  /* background-image: var(--my-gradient); */
  padding: 0;
  margin: 0;
  /* * Per Chris Coyier */
  box-sizing: border-box;
  /* * End per Chris Coyier */
  font-family: var(--custom-font-family);
  /* color: var(--text-color); */
  scroll-behavior: smooth;
  caret-color: var(--accent-color-1);
  /* * bar is the default */
  caret-shape: bar;
  accent-color: var(--accent-color-1);
  /* * Centers content in the viewport. Needs a height to center vertically */
  /* * Without height it centers horizontally at the top of the viewport. With the gradient set, the effect is pretty. */
  /* * Moved to container so that theme picker is at the top of the viewport and the rest of the content is centered on the viewport */
  /* Source: centering content, caret color and shape: https://www.youtube.com/watch?v=oj9uVsdJ-8Q */
  /* height: 100vh;
  display: grid;
  place-content: center; */
  background: var(--clr-body-bg);
  color: var(--clr-text);
}

.container {
  /* Source: centering content, caret color and shape: https://www.youtube.com/watch?v=oj9uVsdJ-8Q */
  height: 100vh;
  display: grid;
  place-content: center;
}

h1,
h2,
h3 {
  color: var(--clr-heading);
  line-height: 1.1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Source: Theme: https://www.youtube.com/watch?v=fyuao3G-2qg */
.color-picker>fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  background: #fff;
  padding: 1rem 3rem;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: gray;
}

.color-picker input[type="radio"]#pink {
  --radio-color: pink;
}

.color-picker input[type="radio"]#blue {
  --radio-color: blue;
}

.color-picker input[type="radio"]#green {
  --radio-color: green;
}

.color-picker input[type="radio"]#dark {
  --radio-color: #232323;
}

.pink {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
}

.blue {
  --clr-body-bg: hsl(209 50% 90%);
  --clr-card-bg: hsl(209 50% 100%);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
}

.green {
  --clr-body-bg: hsl(109 50% 90%);
  --clr-card-bg: hsl(109 50% 100%);
  --clr-text: hsl(109 50% 15%);
  --clr-heading: hsl(109 50% 25%);
}

.dark {
  --clr-body-bg: hsl(209 50% 10%);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
}

:root:has(#pink:checked) {
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
}

:root:has(#blue:checked) {
  --clr-body-bg: hsl(209 50% 90%);
  --clr-card-bg: hsl(209 50% 100%);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
}

:root:has(#green:checked) {
  --clr-body-bg: hsl(109 50% 90%);
  --clr-card-bg: hsl(109 50% 100%);
  --clr-text: hsl(109 50% 15%);
  --clr-heading: hsl(109 50% 25%);
}

:root:has(#dark:checked) {
  --clr-body-bg: hsl(209 50% 10%);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
}